{{#zone "topCss" override="false"}}
    <link rel="stylesheet" href="{{unit.publicUri}}/less/app-tile-style.css">
{{/zone}}

<div class="col-md-4 {{this.unit.class}}">
    <a href="{{this.app.uri}}/app/view?id={{this.id}}" class="thumbnail">
        <img src="{{this.unit.publicUri}}/img/{{this.icon}}" style="height:150px" />

        <p><b>{{this.name}}</b></p>
    </a>
</div>
