<div class="message message-{{@unit.params.type}}">
    <h4>
        <i class="icon fw fw-{{icon}}"></i>{{@unit.params.title}}
    </h4>

    <p>{{@unit.params.message}}</p>
</div>

<div class="alert alert-{{@unit.params.type}}" role="alert">
    <i class="icon fw fw-{{icon}}"></i>
    <strong>{{@unit.params.title}}</strong>{{@unit.params.message}}
    {{# if @unit.params.dismissable}}
        <button type="button" class="close" aria-label="close" data-dismiss="alert">
            <span aria-hidden="true"><i class="fw fw-cancel"></i></span>
        </button>
    {{/if}}
</div>