{{#zone "topCss"}}
    <link rel="stylesheet" href="{{unit.publicUri}}/css/app-view-style.css">
{{/zone}}

<div class="asset-description">
    <div class="asset-description-header">
        <div class="asset-banner">
            <img src="{{unit.publicUri}}/img/webapp-banner.jpg">
        </div>
    </div>
    <div class="asset-introduction-box">
        <div>
            <img class="web-asset-img" src="{{unit.publicUri}}/img/{{this.icon}}">
        </div>
        <div>
            <h4>{{this.name}}</h4>
            <small class="web-asset-clear">Version : 1.0.0</small>
            <small>By : admin</small>
            <small>Status : Published</small>
            <small>Updated : 07/Sep/2015 06:06:11 AM IST</small>
        </div>
        <div id="subscriptionActions" style="margin-top: 25px;">
            <a href="#" class="btn btn-success" id='btnSubscribe'>
                Subscribe Me
            </a>
            <a href="#" class="btn btn-info" id='btnUnsubscribe'
               style="display:none">
                Unsubscribe Me
            </a>
        </div>
        <div style="margin-top: 25px;">
            URL: <a href="{{this.url}}" target="_blank">{{this.url}}</a>
        </div>
    </div>
</div>
