{{#zone "topCss" override="false"}}
    <link rel="stylesheet" href="{{@unit.publicUri}}/less/app-tile-style.css">
{{/zone}}

<div class="col-md-4 {{@unit.class}}">
    <a href="{{@app.uri}}/app/{{id}}/view" class="thumbnail">
        <img src="{{@unit.publicUri}}/img/{{icon}}" style="height:150px" />

        <p><b>{{name}}</b></p>
    </a>
</div>
